# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
musica-client/.next/
musica-client/out/
musica-client/build/

# Environment files
.env
.env.local
.env.*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
